body{
    height: 100%;
    margin: 0;
    padding: 0;
    }
header{
    display: flex;
    background-color: black;
    width: 100%;
    height: 15%;
}

.first-header{
    height: 8vh;
    background-color: blue;
    width: 100%;
}